# Supabase / Neon Postgres
DATABASE_URL="postgresql://postgres:60it2Xj0DRj1M8Lj@db.gmsjamxcrrmcrqnxwclh.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:60it2Xj0DRj1M8Lj@db.gmsjamxcrrmcrqnxwclh.supabase.co:5432/postgres"


# UPSTASH_REDIS_REST_URL="https://modest-mule-131297.upstash.io"
# UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAgDhAAIgcDExMzA0YjY2OTU2NjY0NTBkYjVjNTBlNDVkZjdiNDVlMw"

REDIS_URL="rediss://default:gQAAAAAAAWvKAAIgcDIwOTdjZjE2ZjdkY2M0MWQ2OGI4NTJkNGMyODljNDUxZA@active-lamb-93130.upstash.io:6379"

# Vercel Cron protection (optional but recommended)
CRON_SECRET="a-random-secret-string"
